################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AwesomeGIC_App.Tests/bin
/AwesomeGIC_App.Tests/obj
